<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!-- SAMPLE CONFIGURATION FILE. PLEASE SEE THE DOCUMENTATION FOR MORE INFORMATIONS -->

    <settings>

      <!--  USE SERVER-SIDE REDIRECT FOR REQUEST ERRORS
            If true, Sitecore will use Server.Transfer instead of Response.Redirect to redirect request to service pages
            when an error occurs (item not found, access denied etc).
            Default value: false
      -->
      <setting name="RequestErrors.UseServerSideRedirect" set:value="true" />

      <!--  REQUEST TIMEOUT
            Timeout in milliseconds for each http request done by the error manager.
      -->
      <setting name="ErrorManager.Timeout" value="60000" />

      <!--  MAXIUMUM of AUTOMATIC REDIRECTS
            Amount of maximum redirects allowed for a http request done by the error manager.
      -->
      <setting name="ErrorManager.MaxRedirects" value="3" />

      <!--  SEND USER COOKIES
            If true, the request to the corresponding target page contains all user cookies for this domain
            Default value: false
      -->
      <setting name="ErrorManager.SendClientCookies" value="false" />

      <!--  EXCLUDED COOKIES
            The cookies mentioned in the pipe-separated list are not forwarded to the error page.
            ASP.NET_SessionId must be excluded due to session lock issues.
            Default value: ASP.NET_SessionId
      -->
      <setting name="ErrorManager.ExcludedCookies" value="ASP.NET_SessionId" />

      <!--  IGNORE INVALID SSL CERTIFICATES
            If true, any ssl exception within the request of the error page will be ignored
            Default value: false
      -->
      <setting name="ErrorManager.IgnoreInvalidSSLCertificates" value="false" />

      <!--  USE ROOT PATH AS RELATIVE ROOT
            If true, the relative path of the error items are located under Site.RootPath. If false, the
            items are located unter Site.StartPath (including the site's rootPath + startItem).
            Default value: false
      -->
      <setting name="ErrorManager.UseRootPath" value="false" />

      <!--  FORWARDED HEADERS
            Pipe-separated ('|') list of headers which will be forwarded. Headers which are not available
            will be ignored.
            Default value: ""
      -->
      <setting name="ErrorManager.ForwardedHeaders" value="" />

      <!--  ENABLE BASIC AUTHENTICATION
            If true, the request to the error page will be extended with basic authentication credentials.
            Default value: false
      -->
      <setting name="ErrorManager.BasicAuthentication.Enabled" value="false" />

      <!--  BASIC AUTHENTICATION USERNAME
            The username for the Basic Authentication. This username is only used if the Authorization header is not already set.
            Default value: ""
      -->
      <setting name="ErrorManager.BasicAuthentication.Username" value="" />

      <!--  BASIC AUTHENTICATION PASSWORD
            The password for the Basic Authentication. This password is only used if the Authorization header is not already set.
            Default value: ""
      -->
      <setting name="ErrorManager.BasicAuthentication.Password" value="" />

      <!--  DISABLE TRACKING PARAMETER VALUE
            The value of the tracker disable parameter. This parameter value is never visible to the website user.
            Default value: 7mgpoIhQqV
      -->
      <setting name="ErrorManager.DisableTrackingParameterValue" value="7mgpoIhQqV" />

      <!--  ITEM NOT FOUND HANDLER
            Url of page handling 'Item not found' errors
      -->
      <setting name="ItemNotFoundUrl" set:value="/sitecore modules/Web/Error Manager/404.aspx" />
      <setting name="ItemNotFoundUrl.Static" value="/sitecore modules/Web/Error Manager/service/notfound.aspx" />
      <setting name="ItemNotFoundUrl.Item" value="/error/notfound" />

      <!--  MEDIA NOT FOUND HANDLER -->
      <setting name="MediaNotFoundUrl.Static" value="/sitecore modules/Web/Error Manager/service/notfound.aspx" />
      <setting name="MediaNotFoundUrl.Item" value="/error/notfound" />
      <setting name="MediaNotFoundUrl.UseStatic" value="false" />

      <!--  LAYOUT NOT FOUND HANDLER
            Url of page handling 'Layout not found' errors
      -->
      <setting name="LayoutNotFoundUrl" set:value="/sitecore modules/Web/Error Manager/500.aspx" />
      <setting name="LayoutNotFoundUrl.Static" value="/sitecore modules/Web/Error Manager/service/nolayout.aspx" />
      <setting name="LayoutNotFoundUrl.Item" value="/error/nolayout" />

      <!--  ACCESS DENIED HANDLER
            Url of page handling 'Acess denied' errors
      -->
      <setting name="NoAccessUrl" set:value="/sitecore modules/Web/Error Manager/403.aspx?key=NoAccessUrl" />
      <setting name="NoAccessUrl.Static" value="/sitecore modules/Web/Error Manager/service/noaccess.aspx" />
      <setting name="NoAccessUrl.Item" value="/error/noaccess" />

      <!--  NO LICENSE FOUND HANDLER
            Url of page handling missing license errors

            NOTE: We cannot set a custom license error page, because parsing the page needs a valid license ;-)
      -->
      <setting name="NoLicenseUrl" set:value="/sitecore modules/Web/Error Manager/service/nolicense.aspx" />

    </settings>

    <pipelines>
      <httpRequestBegin>

        <!--  ITEMRESOLVER PIPELINE
              Set the context item to null if current request points to an item with an invalid (or missing) language version.

              NOTE: If you do not use the general ItemResolver, please change the "patch:after" attribute. If you use some
              other item resolving in your project, you have to include this pipeline after your custom resolver.
        -->
        <processor  patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                    type="Unic.ErrorManager.Core.Pipelines.HttpRequest.ItemResolver, Unic.ErrorManager.Core" />

      </httpRequestBegin>

      <startAnalytics>
        
          <!--  DISABLE REQUEST TRACKING
              Prevents the initialization of the xDB Tracker for requests to the error pages trough this module.

              NOTE: This is neccessary, as the nested request runs into a analytics session lock for this user.
          -->
          <processor patch:after="processor[@type='Sitecore.Analytics.Pipelines.StartAnalytics.CheckPreconditions, Sitecore.Analytics']"
                     type="Unic.ErrorManager.Core.Pipelines.StartAnalytics.DisableRequestTracking, Unic.ErrorManager.Core" />
        </startAnalytics>
    </pipelines>

  </sitecore>
</configuration>
