<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <!-- Opts out of both Automatic Package Restore and MSBuild-Integrated Package Restore -->
        <add key="enabled" value="False" />
        <!-- Opts out of Automatic Package Restore in Visual Studio -->
        <add key="automatic" value="False" />
    </packageRestore>
    <packageSources>
        <add key="Sitecore NuGet Feed" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>
